<div class="card my-3">
    <div class="row">
      <!-- Cart Section -->
      <div class="col-md-8 cart">
        <div class="title">
          <div class="row">
            <div class="col"><h4><b>Shopping Cart</b></h4></div>
            <div class="col d-flex justify-content-end countitem">{{ getCountItems()}} items</div>
          </div>
        </div>
        <div class="row border-top border-bottom  ">
          
            <ng-container *ngFor="let item of cartItems; let i = index;">
                <div class="row main align-items-center">
                  
              <div class="col-2"><img class="img-fluid" [src]="item.image"></div>
              <div class="col">
                
                <div class="row">{{item.title}}</div>
              </div>
              <div class="col">
 
                <a class="border" (click)="decreaseQuantity(item)" >-</a>
                <input class="input" [value]="item.quantity"/>
                <a class="border" (click)="increaseQuantity(item)">+</a>
              </div>
              <div class="col">
                {{item.price | currency}}
                <span class="close" (click)="removeFromCart(i)">&#10005;</span>
              </div>
              
            </div>
            <hr>
        </ng-container>
   
    </div>
       
        <div class="back-to-shop" (click)="routerHome()">
            <button class="back">
            <a>&leftarrow;</a>
          <span class="text-muted">Back to shop</span>
            </button>
          
        </div>
      </div>
  
      <!-- Summary Section -->
      <div class="col-md-4 summary">
        <div><h5><b>Summary</b></h5></div>
        <hr>
        <div class="row">
          <div class="col" style="padding-left:0;">ITEMS {{ getCountItems()}} </div>
          <div class="col text-right"></div>
        </div>
        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
          <div class="col">TOTAL PRICE</div>
          <div class="col text-right">{{ getTotalPrice()|currency }}</div>
        </div>
        <button class="btn">Buy now</button>
      </div>
    </div>
  </div>
  