body{
    background: #ddd;
    height: 100vh;
    vertical-align: middle;
    display: flex;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
   
}.card{
    margin: auto;
    max-width: 950px;
    width: 90%;
    height: 70vh;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "Sofia", sans-serif;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
    position: relative;
}
.title{
    margin-bottom: 5vh;
}
.countitem{
    font-size: 1.5rem;
    font-weight: bold;
}
.count{
    width: 10px;
    height: 25px;
   
    color: black;
}
.input{
    display: flex;
    justify-content: center;
}
.border{
    text-decoration: none;
    cursor: pointer;
}

.cart{
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    overflow-y: scroll;
    height:500px;
}
.back{
    border-radius: 15px;
    background-color: rgb(179, 199, 238);
    color: rgb(14, 13, 13);
    width:150px;
    height: 33px;
}
.back-to-shop{
margin-top: 4.5rem;
position:absolute;
bottom:10px;
cursor: pointer;
}
.total-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    margin-left: 600px;
  }
  
.foot{
    display: flex !important;
    justify-content: space-between !important;

}
@media(max-width:767px){
    .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
@media(max-width:767px){
    .card{
        margin: 3vh auto;
    }
}
.row{
    margin: 0;
}
.title b{
    font-size: 1.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.col-2, .col{
    padding: 0 1vh;
}
a{
    padding: 0 1vh;
}
.close{
    margin-left: auto;
    font-size: 0.7rem;
}
img{
    width: 3.5rem;
}

h5{
    margin-top: 4vh;
}
hr{
    margin-top: 1.25rem;
}
form{
    padding: 2vh 0;
}
select{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
      color:transparent;
}
